#robot {
    position: relative;
    width: 20vw; /* Ancho relativo al ancho de la ventana */
    height: 20vw; /* Altura relativa al ancho de la ventana */
    max-width: 190px; /* Ancho máximo en píxeles */
    max-height: 190px; /* Altura máxima en píxeles */
    background-image: url(../imagen-animacion/carrito.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: movimiento 0.5s infinite alternate;
    transform: rotateX(45deg);
}

@keyframes movimiento {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.97); }
    100% { transform: scaleY(1); }
}

#ojo, #ojo2 {
    position: absolute;
    width: 4.5vw; /* Ancho relativo al ancho de la ventana */
    height: 4.5vw; /* Altura relativa al ancho de la ventana */
    border: 2px #000 solid;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

#ojo {
    top: 15%;
    left: 45%;
}

#ojo2 {
    top: 15%;
    left: 70%;
}

#pupila, #pupila2 {
    position: absolute;
    width: 3vw; /* Ancho relativo al ancho de la ventana */
    height: 3vw; /* Altura relativa al ancho de la ventana */
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
